# ============
# Vercel 需设置的环境变量
# ============

USE_CN_PROXY=true
TELEGRAM_BOT_TOKEN=

USERNAME=
PASSWORD=

POWER_FEE_REMIND_THRESHOLD=20
POWER_FEE_REPEAT_THRESHOLD=10

DORM_BUILDING_NAME=replace-with-dorm-building-name
ROOM_NUMBER=replace-with-room-number

CHINA_RELAY_URL=

# 可选
# ACCESS_TOKEN=

# ============
# Github Action 需设置的环境变量
# ============
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
CLOUDBASE_ENV_ID=
CRON_URL=

# ============
# Cloudbase 需设置的环境变量
# ============
CHINA_RELAY_SECRET=

# ============
# Github Action 与 Vercel 需同时设置且值相同的环境变量
# ============

CRON_SECRET=

# ============
# Vercel 与 Cloudbase 需同时设置且值相同的环境变量
# ============

CHINA_RELAY_SECRET=
