ACCESS_TOKEN=
CRON_SECRET=
TELEGRAM_BOT_TOKEN=
# TELEGRAM_WEBHOOK_URL=
# TELEGRAM_WEBHOOK_SECRET=
CHINA_HTTP_PROXY_URL=
USERNAME=
PASSWORD=

POWER_FEE_REMIND_THRESHOLD=20
POWER_FEE_REPEAT_THRESHOLD=10

DORM_BUILDING_NAME=replace-with-dorm-building-name
ROOM_NUMBER=replace-with-room-number
